*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --primaryColor : #0077FF;
}

body{
    font-family: sans-serif;
    background-color: #ECF1F6;
}
nav {
    width: 85px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }
  .avatar{
    margin-top: 30px;  
    margin-left: 17px;
    display: inline-block;
    position: relative;
  }
  .avatar img{
      border: 1px solid #71b3ff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
  }

  .avatar span{
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: #3CD856;
      border-radius: 50%;
      bottom: 7px;
      right: 1px;
  }

  .iconBar{
      margin-top: 50px;
  }
  .iconBar a {
    display: block;
    text-align: center;
    transition: 0.4s;
    color: black;
    font-size: 35px;
    position: relative;
    margin-bottom: 25px;
    margin-left: 20px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconBar a.active{
      background-color: #F0F7FF;
  }
  
  .iconBar a svg path{
    transition: 0.4s;
  }


.iconBar a.active svg path{
    stroke:var(--primaryColor);
    /* fill: #0077FF; */
}


.iconBar a::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 5px;
    height: 100%;
    transform: scaleY(0);
    background-color: var(--primaryColor);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.4s;
}


.iconBar a.active::before{
    transform: scaleY(1);
}

.wrapper{
  display: flex;
}
/* right side bar */
.sidebar{
  width: calc(40% - 125px);
  border-radius: 15px;
  background: white;
  overflow: hidden;
}

.content{
    width: 60%;
    margin-left: 105px;
    margin-right: 20px;
    display: inline-block;
}
.widget{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.widget2{
    width: 60%;
  
    margin-left: 10%;
}
.widget2 li {
  padding: 10px;
}
.cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid;
    border-radius: 50%;
  }

  
  /* When the radio button is checked, add a blue background */
  .cont input:checked ~ .checkmark {
  background:white;
  border:1px solid var(--primaryColor);
   
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .cont .checkmark:after {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 13px;
    line-height: 1;
  }

  .cont:nth-child(1) .checkmark::after{
    content: "A";
  }
  .cont:nth-child(2) .checkmark::after{
    content: "B";
  }
  .cont:nth-child(3) .checkmark::after{
    content: "C";
  }
  .cont:nth-child(4) .checkmark::after{
    content: "D";
  }
  
  /* Show the indicator (dot/circle) when checked */
  .cont input:checked ~ .checkmark:after {
    content: "";
       top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background:var(--primaryColor);
      transform: none;
  }
  .widget3{
   
   margin-right: 10%;
   display:inline-block;
  
  }
  .btn-opt{
    width: 100%;
    border-radius: 5px;
    
  }
  .btn1{
    position: absolute;
    left: 50%;
    width: 15%;
  transform: translateX(-180px);
  }
  .btn2{
    position: absolute;
    right: 50%;
    transform: translateX(115%);
   
    width: 15%;
  }
  .btn-primary {
    background-color:var(--primaryColor);
}
.btn-light{
  background-color: #D9EBFF;
  color:var(--primaryColor) ;
}

.btn{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn img{
  width: 18px;
  height: auto;
  margin-right: 6px;
}
.btn_warning{
  color: #FFA412;
  border: 1px solid #FEF6E6;
  background: #FEF6E6;
}
.btn_danger{
  color: #EB5757;
  border:1px solid #fcdada;
  background: #fcdada;
}

.btn_lightblue{
  color:var(--primaryColor);
  border:1px solid #D9EBFF;
  background: #D9EBFF;
}


.scrolling-box{
  height: 100px;
  overflow-y: scroll;
  background: #ECF1F6;
  border-radius: 15px;
}




.scrolling-box::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #ccc;
}

.scrolling-box::-webkit-scrollbar
{
	width: 3px;
	background-color: #ccc;
}

.scrolling-box::-webkit-scrollbar-thumb
{
	background-color: #000000;
}



